.banner {
	background-image: url("../../images/venus.jpg");  
	background-size: cover;    
	background-position: center;
	background-color: none;
	padding: 150px 0;
 
}
 
.banner h1 {
	color: #181D31;
	font-size: 50px;
	text-align: center;

}
.banner h2 {
  color: #000000;
  font-size: 30px;
  font-weight: bolder;
  opacity: 0.8;
  text-align: center;
}
